<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-responsive">
                <tr>
                    <th ng-click="column_sort('user')">
                        Username
                        <span class="glyphicon glyphicon-arrow-up" ng-hide="sort=='user'&&order=='asc'"></span>
                        <span class="glyphicon glyphicon-arrow-down"  ng-hide="sort=='user'&&order=='desc'"></span>
                    </th>
                    <th ng-click="column_sort('name')">
                        Description
                        <span class="glyphicon glyphicon-arrow-up" ng-hide="sort=='name'&&order=='asc'"></span>
                        <span class="glyphicon glyphicon-arrow-down"  ng-hide="sort=='name'&&order=='desc'"></span>
                    </th>
                    <th ng-click="column_sort('day')">
                        Date
                        <span class="glyphicon glyphicon-arrow-up" ng-hide="sort=='day'&&order=='asc'"></span>
                        <span class="glyphicon glyphicon-arrow-down"  ng-hide="sort=='day'&&order=='desc'"></span>
                    </th>
                    <th ng-click="column_sort('amount')">Amount
                        <span class="glyphicon glyphicon-arrow-up" ng-hide="sort=='amount'&&order=='asc'"></span>
                        <span class="glyphicon glyphicon-arrow-down"  ng-hide="sort=='amount'&&order=='desc'"></span>
                    </th>
                </tr>
                <tr ng-repeat="row in expenses">
                    <td>{{ row.user }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.amount }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>